
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
            <!-- <p>!! गण गण गणात बोते !!</p> -->
        </div>
        <div class="col-md-9 register-right">
            <!-- <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                        aria-selected="true">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                        aria-selected="false">Hirer</a>
                </li>
            </ul> -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Registration</h3>
                    <form class="row register-form" [formGroup]="registerform" (submit)="onRegisterSubmit()" novalidate>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="firstname" placeholder="First Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="lastname"  placeholder="Last Name *" value="" />
                            </div>
                            <!-- <div class="form-group">
                                <input type="mail" class="form-control" placeholder="Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                            </div> -->
                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline">
                                        <input type="radio" formControlName="genderform"  value="male" checked>
                                        <span> Male </span>
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" formControlName="genderform"  value="female">
                                        <span> Female </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" formControlName="mail" placeholder="Your Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" formControlName="mobile" placeholder="Your Phone *" value="" />
                            </div>
                            <!-- <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden" selected disabled>Please select your Sequrity Question</option>
                                    <option>What is your Birthdate?</option>
                                    <option>What is Your old Phone Number</option>
                                    <option>What is your Pet Name?</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
                            </div> -->
                            <input type="submit" class="btnRegister" [disabled]="!registerform.valid" value="Register" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- <h3>Registration Form</h3>
<div class="register-container">
    <form class="form-signin" [formGroup]="registerform" (submit)="onRegisterSubmit()" novalidate>
        <div class="form-group">
             <input class="form-control" type="text" formControlName="firstname" placeholder="Enter first name" />
        </div>
        <div class="form-group">
             <input class="form-control" type="text" formControlName="lastname" placeholder="Enter last name" />
        </div>
        <div class="form-group"> 
            <input class="form-control" type="email" formControlName="mail" placeholder="Enter Email" />
        </div>
        <div class="form-group">
            <input class="form-control" type="number" formControlName="mobile" placeholder="Enter No" />
        </div>
        <div class="security-btn-wrap">
            <button class="btn btn-warning submit-btn-css" type="submit" [disabled]="!registerform.valid">Register</button>
        </div>
    </form>
</div> -->