	<!--start footer-->
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="widget">
							<h5 class="widgetheading">Nam libero tempore</h5>
							<p>soluta nobis est eligendi optio cumque nihil impedit quo
								minus id excepturi sint occaecati cupiditate non provident,
								similique sunt in culpa qui</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="widget">
							<h5 class="widgetheading">Pages</h5>
							<ul class="link-list">
								<li><a href="#">Press release</a></li>
								<li><a href="#">Terms and conditions</a></li>
								<li><a href="#">Privacy policy</a></li>
								<li><a href="#">Career center</a></li>
								<li><a href="#">Contact us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="widget">
							<h5 class="widgetheading">Latest posts</h5>
							<ul class="link-list">
								<li><a href="#">Lorem ipsum dolor sit amet</a></li>
								<li><a href="#">Pellentesque et pulvinar enim</a></li>
								<li><a href="#">Natus error sit voluptatem </a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>

			<div class="sub-footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="social-network">
								<li><a href="#" data-placement="top" title="Facebook"><i
										class="fa fa-facebook fa-1x"></i></a></li>
								<li><a href="#" data-placement="top" title="Twitter"><i
										class="fa fa-twitter fa-1x"></i></a></li>
								<li><a href="#" data-placement="top" title="Linkedin"><i
										class="fa fa-linkedin fa-1x"></i></a></li>
								<li><a href="#" data-placement="top" title="Pinterest"><i
										class="fa fa-pinterest fa-1x"></i></a></li>
								<li><a href="#" data-placement="top" title="Google plus"><i
										class="fa fa-google-plus fa-1x"></i></a></li>
							</ul>
						</div>
						<div class="col-lg-12">
							<div class="copyright">
								<p>&copy; 2020 All rights reserved.</p>
								<div class="credits">
									<!--
                  All the links in the footer should remain intact. 
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Resi
                -->
									 <h3><a href=" ">!! गण गण गणात बोते !!</a></h3>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		<!--end footer-->

