.widget {
	margin-top: 10px;
	padding: 50px;
	text-align: center;
}

.widget p, ul {
	margin-top: 30px;
}

.link-list ul, li, a {
	color: #000;
	list-style: none;
}

.copyright {
	text-align: center;
}

.copyright a {
	color: #fff;
}

.sub-footer {
	background-color: #e77009;
}

ul.social-network {
	list-style: none;
	margin-top: 30px;
	text-align: center;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
	color: #fff;
}

ul.social-network li a {
	color: #fff;
}

.credits {
	padding-bottom: 15px;
}

.validation {
	color: red;
	display: none;
	margin: 0 0 20px;
	font-weight: 400;
	font-size: 13px;
}

#sendmessage {
	color: green;
	border: 1px solid green;
	display: none;
	text-align: center;
	padding: 15px;
	font-weight: 600;
	margin-bottom: 15px;
}

#errormessage {
	color: red;
	display: none;
	border: 1px solid red;
	text-align: center;
	padding: 15px;
	font-weight: 600;
	margin-bottom: 15px;
}
@-webkit-keyframes
	fadein {
	from {
	bottom: 0;
	opacity: 0;
}

to {
	bottom: 30px;
	opacity: 1;
}

}
@keyframes
	fadein {
	from {bottom: 0;
	opacity: 0;
}

to {
	bottom: 30px;
	opacity: 1;
}

}
@-webkit-keyframes
	fadeout {
	from {
	bottom: 30px;
	opacity: 1;
}

to {
	bottom: 0;
	opacity: 0;
}

}
@keyframesfadeout {
	from {bottom: 30px;
	opacity: 1;
}

to {
	bottom: 0;
	opacity: 0;
}
}