<ngx-slideshow-acracode
  [images]="imagesUrl"
  [auto]="true"
  [timeLap]="6000"
  (clickedButton)="clicked($event)"
>
</ngx-slideshow-acracode>

<div class="container-fluid">
  <h1 class="branch">Branches</h1>
  <div class="card-wrapper">
    <ul class="cards">
      <li class="cards_item animate-card">
        <div class="card">
          <div class="card_image">
            <img src="../../../../assets/img/branches1.jpg" />
          </div>
          <div class="card_content">
            <h2 class="card_title">Shri Kshetra Pandharpur</h2>
            <p class="card_text">
              The beautiful temple of Shri Gajanan Maharaj is built in marble
              stones in 8.5 acres of land where Shree Sansthan had the
              PranPratishtha of Shree's idol (with all religious rituals).
            </p>
            <button
              class="btn card_btn"
              onclick="window.location.href = 'https://w3docs.com';"
            >
              Read More
            </button>
            <!-- <input type="button" class="btn card_btn" onclick="window.location.href = 'https://w3docs.com';" value="Read More"> -->
          </div>
        </div>
      </li>
      <li class="cards_item animate-card">
        <div class="card">
          <div class="card_image">
            <img src="../../../../assets/img/branches2.jpg" />
          </div>
          <div class="card_content">
            <h2 class="card_title">Shri Kshetra Traymbakeshwar</h2>
            <p class="card_text">
              Devotees of Lord Shiva frequently rush at Shree Kshetra
              Trymbakeshwar in Nashik. To facilitate them and for the welfare of
              tribals Shree Sansthan started its branch at Tryambakeshwar in
              1995.
            </p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item animate-card">
        <div class="card">
          <div class="card_image">
            <img src="../../../../assets/img/branches3.jpg" />
          </div>
          <div class="card_content">
            <h2 class="card_title">Shri Kshetra Alandi</h2>
            <p class="card_text">
              Shri Kshetra Alandi of Sant Dnyaneshwar Maharaj is yet another
              holy place that attracts the devotees of Lord Vithoba. To
              facilitate the devotees coming for darshan of Shri Dnyaneshwar
              Mauli and to pramote Bhagwat Dhwarma Shree Sansthan states its
              branch at Alandi.
            </p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item animate-card">
        <div class="card">
          <div class="card_image">
            <img src="../../../../assets/img/branches4.jpg" />
          </div>
          <div class="card_content">
            <h2 class="card_title">Shri Kshetra Omkareshwar</h2>
            <p class="card_text">
              Shri Kshetra Omkareshwar is situated on the bank of the holy river
              Narmada in Madhya Pradesh. It is one of the twelve Jotirlinga in
              India.
            </p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item animate-card">
        <div class="card">
          <div class="card_image">
            <img src="../../../../assets/img/branches5.jpg" />
          </div>
          <div class="card_content">
            <h2 class="card_title">Shri Kshetra Kapildhara</h2>
            <p class="card_text">
              Here the Gajanan Maharaj did for 12 years of his religious
              mortification. Sansthan has received 8 acres of land on which
              temple of Shreeji, Mahadwar,Sadhak Niwas, Servants Quarter,
              Lecture hall, Tribal Hostel & 100 bed hospital are proposed.
              Approximate cost of this project is Rs.900 lakhs.
            </p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item animate-card">
        <div class="card">
          <div class="card_image">
            <img src="../../../../assets/img/branches6.jpg" />
          </div>
          <div class="card_content">
            <h2 class="card_title">Shri Kshetra Girada</h2>
            <p class="card_text">
              Just like Kshri Kshetra Kapildhara, Girda is equally tranquil and
              the most befitting place for meditatino which is situated in the
              arms of nature.
            </p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
