
/*=========================== slider ============================ */
.slider {
	position: relative;
	margin-top: -20px;
}

.slider img {
	width: 100%;
}

::ng-deep #container {
    margin-top: 8% !important;
}

#carousel-slider {
	position: relative;
}

#carousel-slider .carousel-indicators {
	bottom: -40px;
}

#carousel-slider .carousel-indicators li {
	border: 1px solid #ffbd20;
}

#carousel-slider a i {
	border-radius: 50%;
	font-size: 30px;
	height: 50px;
	padding: 10px;
	position: absolute;
	top: 50%;
	width: 50px;
	color: #6d9c91;
	background: #6d9c91;
	color: #fff;
}

#carousel-slider a i:hover {
	background: #6d9c91;
	color: #fff;
	border: 1px solid #6d9c91;
}

#carousel-slider 
.carousel-control {
	width: inherit;
}

#carousel-slider .carousel-control.left i {
	left: 50px;
	top: calc(50% - 50px);
}

#carousel-slider .carousel-control.right i {
	right: 50px;
	top: calc(50% - 50px);
}

.carousel-caption {
	position: absolute;
	right: 15%;
	top: calc(50% - 150px);
	font-size: 40px;
	left: 15%;
	z-index: 10;
	padding-bottom: 0px;
	color: #fff;
	text-align: center;
}

.carousel-caption  h2 {
	font-size: 60px;
	color: #fff;
}

.carousel-caption  h2 span {
	font-size: 60px;
	color: #fff;
}

.carousel-caption  p {
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
	color: #fff;
	padding: 10px;
	background: #6d9c91;
}

@media ( max-width : 767px) {
	.carousel-caption {
		font-size: 18px;
	}
	.carousel-caption h2, .carousel-caption  h2 span, .carousel-caption  p {
		font-size: 18px;
	}
}

.carousel-inner .form-inline .form-group .btn-livedemo {
	padding: 20px 60px;
	font-size: 20px;
	background: #6d9c91;
	color: #fff;
	border-radius: 0;
	border-color: #fff;
	text-transform: uppercase;
}

.carousel-inner .form-inline .form-group .btn-livedemo:hover {
	color: #fff;
	opacity: 0.8;
	-webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition: color 300ms, background-color 300ms;
	transition: color 300ms, background-color 300ms;
}

.carousel-inner .form-inline .form-group .btn-getnow {
	padding: 20px 60px;
	font-size: 20px;
	background: #fff;
	color: #272727;
	border-radius: 0;
	text-transform: uppercase;
}

.carousel-inner .form-inline .form-group .btn-getnow:hover {
	color: #fff;
	border-color: #fff;
	background: #6d9c91;
	-webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition: color 300ms, background-color 300ms;
	transition: color 300ms, background-color 300ms;
}

.form-inline {
	margin-top: 50px;
}

/* ::ng-deep .standarImage{
	object-fit: cover;
  width: auto !important;
  height: auto !important;
} */

::ng-deep .overlay-right{
	background-color: transparent !important;
}

::ng-deep .overlay-left{
	background-color: transparent !important;
}


/*=========================== Cards ============================ */

/* Font */
/* @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700'); */

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
} */

.container-fluid .branch {
    margin: 50px 0;
    color: #ee7752;
    font-size: 30px;
}

.card-wrapper{
  max-width: 1200px;
  margin: 50px auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

li.cards_item.animate-card:hover {
    box-shadow: 0px 0px 8px #676a70;
    animation-duration: 1s;
    animation-name: bounceIn;
    cursor: pointer;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #ee7752 40%, #e4871d 100%);
}

.card_title {
  color: #000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
	font-weight: 400;
	width: 100%;
	height: 10em;
}

li.cards_item.animate-card{
 transition: transform .2s ;
}

li.cards_item.animate-card:hover {
    transform: scale(0.9);
}