<div class="main-container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href="''">
                        <h1>Profile</h1>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="menu">
                <ul class="nav nav-tabs">
                    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                        <a [routerLink]="['']">Home </a>
                    </li>
                    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                        <a [routerLink]="['about']">About</a>
                    </li>
                    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                        <a [routerLink]="['bhakt']">Bhakt Parivar</a>
                    </li>
                    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                        <a [routerLink]="['register']">Registration</a>
                    </li>
                    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                        <a [routerLink]="['contact']">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- <div class="container">
    <nav class="navbar fixed-top">
        <a class="navbar-brand" href="#"><h1>Profile</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active-link"  [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['']">Home </a>
            </li>
            <li class="nav-item" routerLinkActive="active-link"  [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['about']">About</a>
            </li>
            <li  class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['bhakt']">Bhakt Parivar</a>
            </li>
            <li  class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['register']">Registration</a>
            </li>
            <li  class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['contact']">Contact Us</a>
            </li>
        </ul>
    </div>
    </nav>
</div> -->

<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Fixed navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav> -->