.main-container {
  margin: 0;
  width: 100%;
  /* height: 100vh; */
  font-family: "Exo", sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e4871d, #cf450f, #d86111);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  line-height: 1.1em;
}

p {
  color: #000;
}

a:hover {
  text-decoration: none;
}

/* .navbar-default {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 0;
  border: 0;
} */

.container-fluid > .navbar-header {
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 0;
}

.navbar-brand {
  float: left;
  height: 30px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand h1 {
  float: left;
  line-height: 20px;
  padding: 0 20px;
  font-size: 30px;
  margin-top: -15px;
  color: #ea740b;
}

.navbar-brand h1:hover {
  background-color: #fff;
}

.menu {
  font-size: 14px;
  float: right;
  text-transform: uppercase;
  font-weight: 500;
}

.menu ul.nav-tabs li {
  color: #000;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs > li {
  float: left;
  margin-bottom: 0;
}

.nav-tabs > li > a {
  margin-bottom: 20px;
  margin-right: 20px;
  line-height: 1.42857143;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  color: #000;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ea740b;
  color: #ea740b;
  border-radius: 0;
  background-color: #f9f9f9;
}

.nav-tabs > li.active-link > a,
.nav-tabs > li.active-link > a:hover,
.nav-tabs > li.active-link > a:focus {
  color: #fff;
  cursor: default;
  background-color: #ea740b;
  border: 0;
  border-bottom-color: transparent;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
}
